/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #81aad6;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4279e5;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #0056b3;
}

#disease-result, #premium-result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9f5ff;
    border-radius: 5px;
    display: none; /* Hidden until a result is displayed */
}

footer {
    background-color: #555586;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 600px) {
    form {
        width: 100%;
    }

    button {
        font-size: 1em;
    }
}
